@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Roboto:wght@400;500;700&display=swap');
* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
	color: inherit;
}
img {
	width: 100%;
	height: auto;
}

body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
}
.mainBtn {
    background-color: #8A33FD;
    padding: 10px 25px;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
}
.breadCrumbs {
  margin: 30px 0;
}
.breadCrumbs,
a {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #807d7e;
  a,
  span {
    text-transform: capitalize;
  }
  span.currentPage {
    font-weight: 700;
    color: #3c4242;
  }
}